#include<iostream>
using namespace std;
int main(){
    // Declaring the string:
   string str="finding";
   // Creating an array of size 26 to use hash technique:
   int h[26];
   int n=str.length();
   for(int i=0; i<n; i++){
       //updating the array:
       h[str[i]-97]++;
   }
   for(int i=0; i<26; i++){
       if(h[i]>1)
       // Printing the  duplicate char and number of times:
       cout<<char(97+i)<<":"<<h[i]<<"times"<<endl;
   }
     
    return 0;
